.carousel-control-prev{
    bottom : 25rem !important;
  

   
}

.carousel-control-next{
    bottom : 25rem !important;
 
    
}

.carousel-caption{
    bottom: 12.25rem !important;
    right: 12% !important;
}

